@{
    ViewData["Title"] = "Cartelera";
}

<div class="text-center">
    <h1 class="display-4">Cartelera de cine dev 23</h1>
    <p>Todas las peliculas disponibles en la cartelera</p>


    <div class="text-center">
        <iframe width="869" height="361" src="https://www.youtube.com/embed/6ZfuNTqbHE8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
